body {
  font-family: Helvetica;
}

.container {
  background-color: rgb(209, 208, 208);
  width: 700px;
  height: 550px;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  margin: 10px;
}

.jogadores {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.jogador {
  display: flex;
  width: 250px;
  margin: 0px 50px 20px;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: rgb(31, 91, 255);
  color: white;
  margin: 8px;
  padding: 8px 120px;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  background-color: rgb(119, 119, 119);
}

img {
  width: 90px;
  margin: 10px;
}